
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="goal-summary pull-left">
          <div class="backers">
            <h3><%= "#{@projects.count}" %></h3>
            <span>created</span>
          </div>
          <div class="funded">
            <h3><%= "#{@projects_funded}" %></h3>
            <span>funded</span>
          </div>
          <div class="time-left">
            <h3><%= number_to_currency(@total_funding, precision: 0) %></h3>
            <span>pledged</span>
          </div>
          <div class="reminder last">
            <a href="<%= new_project_path %>"><i class="fa fa-star"></i> New Project</a>
          </div>
          <%if current_user %>
          <div class="reminder last">
            <a href="<%= user_path(current_user) %>"><i class="fa fa-star"></i> My Page</a>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </header>
<% @projects.each do |project| %>
  <article class="project">
    <%= link_to project_path(project), class: 'project-link' do %>
      <figure class="project-image">
        <% if project.image %>
          <%= image_tag project.image %>
        <% else %>
          <%= image_tag ActionController::Base.helpers.asset_path("default.jpg") %>
        <% end %>
      </figure>
      <h1 class="project-title"><%= project.title %></h1>
      <h5> <a href= "<%= search_index_path%>?utf8=✓&search%5Binput%5D=<%=project.category.name%>&commit=Search" > Category: <%= project.category.name %></a></h5>
      <time class="project-days-left" <%= "style=color:red;" if project.end_date < Time.now.utc %> >
        <%= icon('clock-o') %>
        <%= "#{time_ago_in_words(project.end_date)} #{( project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %></time>
    <% end %>
  </article>
<% end %>
