<%= form_for([@project, @project_update]) do |f| %>
  <% if @project_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_update.errors.count, "error") %> prohibited this update from being saved:</h2>
      <ul>
        <% @project_update.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_update, class: "signup-input"  %><br />
    <%= f.text_area :project_update, class: "signup-input"  %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-launch" %>
  </div>
<% end %>
